.Login__Container--Outer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 1rem;
}

.Login__Container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 80rem;

    background: rgba(lighten($mintGreen, 30%), 0.7);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Login__Title {
    // font-size: $Header1;
    font-size: 4rem;
}

.Login__Description {
    font-size: 2rem;
}

.Form__Container {
    display: flex;
    flex-direction: column;
    // font-size: 3rem;
    font-size: 1.6rem;
    padding: 0.5rem;

    label,
    input,
    button {
        margin: 0.5rem;
    }
}

.Checkbox__Container {
    display: flex;
}

.Btn__Submit {
    border: 0.1rem solid lighten($mintGreen, 10%);
    background: $mintGreen;
    color: white;
    font-size: 3rem;
    padding: 1rem;

    &:disabled {
        border: 0.1rem solid darken(grey, 10%);
        background: grey;
        color: lighten(grey, 30%);
    }

}