.Settings__Box--Background {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(170, 239, 204, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.Settings__Modal {
    background: $mintGreen;
    padding: 1rem;
}

.Settings__Modal--Title {
    font-family: $VT;
    font-weight: bold;
    font-size: 4rem;
}

.Settings__Modal--Content {
    font-family: $VT;
    font-weight: bold;
    font-size: 1.5rem;
}

.Settings__Open {
    i {
        color: white;

        &:hover,
        &:active {
            background: lighten($mintGreen, 20%);
        }
    }
}

.Settings__Close {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    i {

        &:hover,
        &:active {
            background: lighten($mintGreen, 20%);
            border-radius: 50%;
        }
    }
}

.Settings__Options {
    font-weight: bold;
    font-size: 3rem;
}