// Font Family
// $VT: 'VT323',
// monospace;
$VT: 'Roboto',
sans-serif;
$Roboto: 'Roboto',
sans-serif;

// Color
$whiteFont: #EEEEEE;
$mintGreen: #1BBC9B;

// Size
$Header1: 10rem;

$Heading1: 4rem;
$Heading2: 3rem;