.Wallet__Container--Out {}

.Wallet__Container--In {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: darken($mintGreen, 10%);
    min-height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    img {

        min-width: 3rem;
        min-height: 3rem;
    }

    h2 {
        color: white;
        font-size: $Heading1;
    }
}

.Card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background: #eee;
    padding: 1rem;
    margin: 0.5rem auto;

    span {
        color: grey;
        font-size: 2rem;
    }
}

.Card__Steem {}

.Card__SBD {}

.Card__QR {
    display: flex;
    flex-direction: column;

    .QR {
        margin: 1rem auto;
    }

    .QR__Text {
        font-size: $Heading2;
    }
}